In [1]:
import pandas as pd

df = pd.read_excel("IMDB_data_dirty.xlsx")
df.head()

,Movie Key,Title,Release_Year,Movie Link,IMdB Rating,Number of Votes,Genre 1,Genre 2,Genre 3,Plot,...,Language 7,Language 8,Language 9,Language 10,Language 11,Language 12,Language 13,Language 14,Language 15,Num_Languages
0,1,The Shawshank Redemption,1994,https://www.imdb.com/title/tt0111161/,9.3,2722021,Drama,NaN,NaN,"Over the course of several years, two convicts...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2,The Dark Knight,2008,https://www.imdb.com/title/tt0468569/,9.0,2694867,Action,Crime,Drama,When the menace known as the Joker wreaks havo...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,3,Inception,2010,https://www.imdb.com/title/tt1375666/,8.8,2391640,Action,Adventure,Sci-Fi,A thief who steals corporate secrets through t...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,4,Fight Club,1999,https://www.imdb.com/title/tt0137523/,8.8,2165380,Drama,NaN,NaN,An insomniac office worker and a devil-may-car...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,5,Forrest Gump,1994,https://www.imdb.com/title/tt0109830/,8.8,2116607,Drama,Romance,NaN,The history of the United States from the 1950...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [2]:
# Cek jumlah duplikasi pada data
print("Jumlah duplikasi data: " + str(df.duplicated().sum()))

Jumlah duplikasi data: 0

In [3]:
# Cek missing values
missing_values = df.isnull().sum() / len(df) * 100
print("Missing Values:")
print(missing_values)

Missing Values:
Movie Key                        0.000000
Title                            0.000000
Release_Year                     0.000000
Movie Link                       0.000000
IMdB Rating                      0.000000
Number of Votes                  0.000000
Genre 1                          0.000000
Genre 2                          9.557740
Genre 3                         35.749386
Plot                             0.000000
Certification_Rating             5.552826
RT (mins)                        5.552826
Release_Day                      0.000000
Release_Month                    0.000000
Boxoffice_Collection ($ USD)    15.380835
Director 1                       0.000000
Director 2                      92.972973
Director 3                      98.525799
Writer 1                         0.024570
Writer 2                        28.427518
Writer 3                        60.466830
Star 1                           0.122850
Star 2                           0.122850
Star 3                           0.245700
User_Reviews                     0.000000
Critic_Reviews                   0.270270
MetaScore                       26.461916
Oscar Nominations                0.000000
Oscar Awards                     0.000000
BAFTA Nominations                0.000000
BAFTA Award                      0.000000
Total Wins                       4.078624
Total Nominations               15.823096
Production Company               0.196560
Language 1                       0.000000
Language 2                      54.127764
Language 3                      77.862408
Language 4                      90.491400
Language 5                      95.601966
Language 6                      98.009828
Language 7                      98.943489
Language 8                      99.533170
Language 9                      99.828010
Language 10                     99.950860
Language 11                     99.975430
Language 12                     99.975430
Language 13                     99.975430
Language 14                     99.975430
Language 15                     99.975430
Num_Languages                    0.000000
dtype: float64

In [4]:
# Drop kolom dengan missing values > 50%
drop_col = missing_values[missing_values > 50].index
df = df.drop(columns=drop_col)
print("Kolom yang di drop:", list(drop_col))

Kolom yang di drop: ['Director 2', 'Director 3', 'Writer 3', 'Language 2', 'Language 3', 'Language 4', 'Language 5', 'Language 6', 'Language 7', 'Language 8', 'Language 9', 'Language 10', 'Language 11', 'Language 12', 'Language 13', 'Language 14', 'Language 15']

In [5]:
skew = df.skew(numeric_only=True)
print(skew)

Movie Key                        0.000000
Release_Year                    -1.040525
IMdB Rating                      0.819096
Number of Votes                  3.999057
Boxoffice_Collection ($ USD)     5.146782
MetaScore                       -0.401547
Oscar Nominations                3.635150
Oscar Awards                     4.434206
BAFTA Nominations                7.491413
BAFTA Award                     13.811034
Total Wins                       5.164740
Total Nominations                3.576421
Num_Languages                    2.158106
dtype: float64

In [6]:
# Handle missing values pada kolom numerikal dan kategorikal
df.fillna(df.median(numeric_only=True), inplace=True)
df.fillna(df.mode().iloc[0], inplace=True)

In [7]:
# Cek missing values setelah dibersihkan
missing_values = df.isnull().sum() / len(df) * 100
print("Missing Values:")
print(missing_values)

Missing Values:
Movie Key                       0.0
Title                           0.0
Release_Year                    0.0
Movie Link                      0.0
IMdB Rating                     0.0
Number of Votes                 0.0
Genre 1                         0.0
Genre 2                         0.0
Genre 3                         0.0
Plot                            0.0
Certification_Rating            0.0
RT (mins)                       0.0
Release_Day                     0.0
Release_Month                   0.0
Boxoffice_Collection ($ USD)    0.0
Director 1                      0.0
Writer 1                        0.0
Writer 2                        0.0
Star 1                          0.0
Star 2                          0.0
Star 3                          0.0
User_Reviews                    0.0
Critic_Reviews                  0.0
MetaScore                       0.0
Oscar Nominations               0.0
Oscar Awards                    0.0
BAFTA Nominations               0.0
BAFTA Award                     0.0
Total Wins                      0.0
Total Nominations               0.0
Production Company              0.0
Language 1                      0.0
Num_Languages                   0.0
dtype: float64

In [8]:
# Simpan hasil cleaning data
clean_df = "IMDB_data_clean.csv"
df.to_csv(clean_df, index=False)